<div class="tw-h-80 tw-w-full tw-bg-blue-600 tw-px-10 tw-py-4">
  <div class="tw-mx-auto tw-h-full tw-w-full tw-max-w-screen-2xl">
    <div class="tw-grid tw-grid-cols-2">
      <div class="tw-col-span-1 tw-flex tw-items-center tw-gap-x-20">
        <h1 class="tw-text-2xl tw-font-medium tw-text-white">Finance</h1>
        <div class="tw-flex tw-items-center tw-gap-x-6">
          @for (n of navList; track n) {
          <app-button [routerLink]="n.link" type="light" [active]="n.isSelect" (click)="setActiveButton(n.name)">{{
            n.name }}</app-button>
          }
        </div>
      </div>
      <div class="tw-col-span-1 tw-flex tw-items-center tw-justify-end">
        <avatar label="deepesh solanki"></avatar>
      </div>
    </div>

    <div class="tw-mt-8 tw-flex tw-flex-col tw-gap-y-3">
      <div class="tw-flex tw-flex-col tw-gap-y-1">
        <h1 class="tw-m-0 tw-flex tw-items-center tw-gap-x-3 tw-text-2xl tw-font-medium tw-text-white">
          Welcome Back, deepesh
          <div class="tw-relative tw-h-8 tw-w-8">
            <img ngSrc="images/dashboard-img/waving-hand.webp" fill decoding="async" draggable="false"
              class="tw-h-full tw-w-full" alt="hand img" />
          </div>
        </h1>
        <p class="tw-m-0 tw-text-sm tw-font-normal tw-text-azure-50/60">
          This is your Financial Overview Report
        </p>
      </div>

      <div class="tw-flex tw-items-center tw-gap-x-3">
        <dropdown placeholder="Select.." [dropList]="dropItemList()" [selectItem]="dropItemList()[0]">
        </dropdown>
        @defer (on timer(150ms)) {
        <datepicker selectionMode="range" placeholder="Select date range"></datepicker>
        }
        @placeholder {
        <div class=" tw-min-w-48 tw-min-h-10  tw-rounded-md tw-animate-pulse  tw-bg-azure-200/50">
        </div>
        }

      </div>
    </div>
  </div>
</div>