<div class="tw-flex tw-flex-col tw-items-start tw-gap-y-2">
  <!--Date Input label-->
  <label [attr.for]="datLabel()" class="tw-text-sm"
    >{{ datLabel() }}
    @if (isRequired()) {
      <span class="tw-text-red-500">*</span>
    }
  </label>

  <!--Prime ng Calendar -->
  <div class="tw-relative tw-w-full">
    <p-calendar
      appendTo="body"
      [disabled]="disabled()"
      #calendar
      readonlyInput
      [maxDate]="max()"
      [touchUI]="this.comm.isMobile() | async"
      dateFormat="dd/mm/yy"
      (onSelect)="valChang($event)"
      [placeholder]="'Enter your ' + (datLabel() | lowercase)"
      styleClass="tw-w-full xl:tw-cursor-pointer "
      inputStyleClass=" tw-p-[0.4rem] tw-text-sm tw-text-black tw-rounded-xl tw-border-2 tw-border-stroke-100 tw-ring-offset-2 tw-transition-all tw-duration-200 tw-ease-in focus:tw-border-azure-500 focus:tw-ring-2 focus:tw-ring-azure-200 placeholder:tw-text-[13px] placeholder:tw-text-slate-500 tw-px-4"
      [showIcon]="false"
      inputId="icondisplay"
    />

    <icon
      name="calendar"
      type="primary"
      [addCls]="disabled() ? 'tw-opacity-30' : 'tw-text-slate-500'"
      (click)="openCalendar()"
      class="tw-absolute tw-right-0 tw-top-0 tw-flex tw-h-full tw-items-center tw-justify-center tw-pr-5"
    ></icon>
  </div>

  <!--Validation-->
  @if (isValid().cond1 && isValid().form_submit && validText() && !disabled()) {
    <div class="tw-text-sm tw-text-red-500">
      {{ validText() }}
    </div>
  }
</div>
