@defer (on timer(150ms)) {
<div class="tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-y-6 tw-rounded-md tw-bg-white tw-p-4">
    <div class="tw-flex tw-w-full tw-items-center tw-justify-between ">
        <span class="tw-text-xl tw-font-semibold">Settings</span>
    </div>

    <div
        class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-3 tw-border tw-border-gray-200 tw-border-solid tw-rounded-lg">
        <div class="tw-flex tw-items-center tw-gap-x-3">
            <avatar label="deepesh solanki" size="large"></avatar>
            <span>
                <h4 class="tw-m-0 tw-font-semibold">deepesh solanki</h4>
                <p class="tw-m-0 tw-text-xs tw-pt-0.5 tw-text-gray-400">deepeshsolanki4444&#64;gmail.com</p>
            </span>
        </div>

        <div
            class="tw-flex tw-items-center tw-gap-x-2 tw-rounded-md tw-py-1 tw-text-red-500 xl:tw-cursor-pointer hover:tw-bg-red-100/50 tw-px-3 tw-transition-all tw-ease-in tw-duration-300">
            <icon name="logout" addCls="!tw-font-bold !tw-text-lg"></icon>
            <p class="tw-m-0 tw-select-none tw-text-base tw-font-medium">Logout</p>
        </div>
    </div>

    <div
        class="tw-flex tw-flex-col tw-items-start tw-justify-between tw-gap-y-5 tw-w-full tw-p-4 tw-border tw-border-gray-200 tw-border-solid tw-rounded-lg">
        <span class="tw-flex tw-items-center tw-justify-between tw-w-full">
            <h4 class="tw-m-0 tw-text-lg tw-font-semibold">Personal information</h4>
            <!-- <p class="tw-m-0 tw-text-sm tw-text-gray-400">deepeshsolanki4444&#64;gmail.com</p> -->
            <app-button type="outline" addCls="!tw-px-3" (mouseenter)="lottieService.playAnimation('Edit')"
                (mouseleave)="lottieService.stopAnimation('Edit')" (click)="isEdit.set(!isEdit())">
                <div class="tw-flex tw-items-center tw-gap-x-1.5">
                    <div class="tw-h-5 tw-w-5 xl:tw-cursor-pointer" >
                        <ng-lottie [options]="isEdit() ? options[1] :  options[0]" (animationCreated)="lottieService.animationCreated('Edit', $event)
                          ">
                        </ng-lottie>
                    </div>
                    <span class="tw-font-medium">{{isEdit() ? 'Save' : 'Edit'}}</span>
                </div>
            </app-button>
        </span>

        <div class="tw-grid tw-grid-cols-4 tw-gap-x-6 tw-w-full">
            <div class="tw-col-span-1">
                <h2 class="tw-m-0 tw-text-base tw-text-gray-400 tw-font-normal tw-pb-0.5">First name</h2>
                @if(isEdit()){
                <app-input placeholder="Enter first name"></app-input>
                }@else {
                <p class="tw-m-0 tw-text-sm tw-text-black/80 tw-font-medium tw-pt-0.5 tw-truncate">deepesh solanki</p>
                }
            </div>
            <div class="tw-col-span-1">
                <h2 class="tw-m-0 tw-text-base tw-text-gray-400 tw-font-normal tw-pb-0.5">Date of birth</h2>
                @if(isEdit()){
                <app-input placeholder="Enter date of birth"></app-input>
                }
                @else {
                <p class="tw-m-0 tw-text-sm tw-text-black/80 tw-font-medium  tw-truncate">13 Sep, 2003</p>
                }
            </div>
            <div class="tw-col-span-1">
                <h2 class="tw-m-0 tw-text-base tw-text-gray-400 tw-font-normal tw-pb-0.5">Email</h2>
                @if(isEdit()){
                <app-input placeholder="Enter email address"></app-input>
                }@else {
                <p class="tw-m-0 tw-text-sm tw-text-black/80 tw-font-medium  tw-truncate">deepesh&#64;gmail.com
                </p>
                }
            </div>
        </div>
    </div>

</div>
}
@placeholder {
<div class="tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-y-6 tw-rounded-md tw-bg-white tw-p-4">
    <div class="tw-flex tw-w-full tw-items-center tw-justify-between">
        <span class="tw-h-9 tw-min-w-52 tw-animate-pulse tw-rounded-md tw-bg-gray-200"></span>

        <!-- <div class="tw-min-h-10 tw-min-w-32 tw-animate-pulse tw-rounded-md tw-bg-gray-200"></div> -->
    </div>

    <div class="tw-flex tw-flex-col tw-gap-y-4">
        <div
        class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-3 tw-animate-pulse tw-rounded-md tw-bg-gray-200 tw-h-[72px]"></div>

        <div class="tw-min-h-[137px] tw-min-w-full tw-animate-pulse tw-rounded-md tw-bg-gray-200"></div>
    </div>
</div>
}