@defer(on timer(300ms);when isTrue) {

<div class="tw-bg-white tw-p-4 tw-max-w-96 tw-min-w-full tw-rounded-md tw-flex tw-flex-col tw-gap-y-4"
    [ngClass]="addCls()">
    <div class="tw-flex tw-items-center tw-justify-between tw-w-full tw-gap-x-3">
        <div class="tw-flex tw-flex-col tw-gap-y-1">
            <span class="tw-text-lg tw-font-semibold">
                {{title()}}
            </span>
            <span class="tw-text-xs tw-font-medium tw-text-gray-400">
                {{ filtDate()[0] | date:'dd MMM' }} - {{ filtDate()[1] | date:'dd MMM' }},&nbsp;{{ filtDate()[0] |
                date:'yyyy' }}
            </span>
        </div>

        <div class="tw-relative tw-min-w-10 tw-min-h-10 tw-flex tw-items-center tw-justify-center  tw-rounded-md"
            [ngClass]="{'tw-bg-azure-100':title()=='Remaining','tw-bg-green-100':title()=='Income','tw-bg-red-100':title()=='Expenses'}">
            <icon [name]="title() === 'Remaining' ? 'bag' : title() === 'Income' ? 'grph-rise' : 'grph-down' "
                class="tw-text-2xl "
                [addCls]="title() === 'Remaining' ? '!tw-text-azure-600 !tw-cursor-auto' : title() === 'Income' ? '!tw-text-green-500 !tw-cursor-auto ' : '!tw-text-red-600 !tw-cursor-auto' ">
            </icon>
        </div>
    </div>



    <div class="*:tw-m-0">
        <h3 class=" tw-font-semibold" [countUp]="amt()" [options]="{ enableScrollSpy: true ,duration:2,prefix:'₹'}">
        </h3>
        <p class="tw-text-xs  tw-font-medium"
            [ngClass]="{'tw-text-green-600':periodCompaPercent() > 0,'tw-text-red-600' : periodCompaPercent() < 0}">{{
            periodCompaPercent() }}% from last month </p>
    </div>
</div>

}@placeholder {
<div class="tw-bg-white tw-p-4 tw-max-w-96 tw-min-w-full tw-rounded-md tw-flex tw-flex-col tw-gap-y-4 tw-min-h-[140px]">
    <div class="tw-flex tw-items-center tw-justify-between tw-w-full tw-gap-x-3 ">
        <div class="tw-flex tw-flex-col tw-gap-y-1 ">
            <span class="tw-text-lg tw-font-semibold tw-animate-pulse  tw-bg-gray-200 tw-w-28 tw-rounded-md tw-h-7">
            </span>
            <span
                class="tw-text-xs tw-font-medium tw-text-gray-400  tw-animate-pulse  tw-bg-gray-200 tw-w-40 tw-rounded-md tw-h-4">

            </span>
        </div>


        <div class=" tw-min-w-10 tw-min-h-10  tw-rounded-md tw-animate-pulse  tw-bg-gray-200">
        </div>
    </div>

    <div class="*:tw-m-0">
        <h3 class=" tw-w-28 tw-min-h-6 tw-rounded-md tw-animate-pulse  tw-bg-gray-200 "></h3>
        <p class="tw-w-40 tw-min-h-3 tw-rounded-md tw-animate-pulse  tw-bg-gray-200 !tw-mt-1"> </p>
    </div>
</div>
}