<div class="tw-h-full tw-w-full tw-bg-white tw-rounded-md tw-flex tw-flex-col tw-gap-y-6 tw-p-4">
    <div class="tw-flex tw-items-center tw-justify-between tw-w-full">
        <span class="tw-font-semibold  tw-text-xl">Transaction History</span>  
        <div>
            <app-button type="solid">
                <div class="tw-flex tw-items-center tw-gap-x-2">
                    <icon name="add" addCls="!tw-text-xl"></icon>
                    <span>
                        Add new
                    </span>
                </div>
            </app-button>
        </div>
    </div>

    <div class="tw-flex tw-flex-col tw-gap-y-4">
        <search placeholder="Search payee.."></search>
    
        <table [cols]="cols()" [data]="tableData()"></table>
    </div>
</div>