/* Global styles and imports */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


* {
  box-sizing: border-box;
  font-family: "Poppins", "Arial", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
}

//Primeng Reset classes
@layer reset {
  .p-checkbox-box {
    opacity: 1 !important;
  }

  .p-datepicker {
    @media only screen and (min-width: 1024px) {
      margin-top: 0.5rem !important;
    }

    td,
    th {
      padding: 0.25rem !important;

      @media only screen and (max-width: 425px) {
        padding: 0.1rem !important;
      }
    }

    td span {
      font-size: 12px !important;

      @media only screen and (max-width: 425px) {
        cursor: none !important;
        box-shadow: none !important;
      }
    }
  }

  .p-overlaypanel {
    margin-top: 18px !important;
    border-radius: 10px !important;

    &::before,
    &::after {
      left: calc(var(--overlayArrowLeft, 0) + 2.35rem) !important;

      @media only screen and (min-width: 1920px) {
        left: calc(var(--overlayArrowLeft, 0) + 1.25rem) !important;
      }
    }

    .p-overlaypanel-content {
      padding: 1rem 1rem !important;
    }
  }

  p-dropdown {
    .p-inputwrapper {

      .p-inputtext,
      .p-dropdown-trigger-icon {
        color: var(--pIconColor) !important;
        padding: 0 !important;
        font-size: 14px !important;
        align-items: center;
        display: flex;
      }

      .p-dropdown-trigger {
        justify-content: end !important;

        .p-dropdown-trigger-icon {
          width: 12px !important;
          height: 12px !important;
        }
      }
    }
  }

  .p-dropdown-panel {

    margin-top: 0.5rem;

    .p-dropdown-items {
      padding: 0.5rem;
      border-radius: 0.25rem !important;
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;

      .p-dropdown-item {
        padding: 0.5rem 1rem;

        &:hover {
          border-radius: 0.25rem !important;
        }

        .p-highlight,
        .p-focus {
          border-radius: 0.5rem !important;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          // color: rgba(0, 0, 0, 0.7);
        }
      }

      .p-highlight,
      .p-focus {
        border-radius: 0.25rem !important;
      }

    }
  }

 
}

//primeng Classes
@layer primeng {}

//Tailwind classes
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary";
  src: url("../public/fonts/icons-fonts/primary.woff2") format("woff2");
}

:root {
  --iconUnitCode: "\e000";
  --iconType: "primary";
  --pIconColor: #ffffff;
}

.icon {
  display: inline-block;
  font: normal normal normal 1em/1 var(--iconType);
  color: inherit;
  flex-shrink: 0;
  line-height: 1.2;
  max-width: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before {
  content: var(--iconUnitCode);
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #e8e8e8;
  --sb-size: 4px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}