/* Global styles and imports */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  box-sizing: border-box;
  font-family: "Poppins", "Arial", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
}

//Primeng Reset classes
@layer reset {
  .p-checkbox-box {
    opacity: 1 !important;
  }

  .p-datepicker {
    td,
    th {
      padding: 0.25rem !important;

      @media only screen and (max-width:425px) {
        padding: 0.1rem !important;
      }
    }

    td span {
      font-size: 12px !important;

      @media only screen and (max-width:425px) {
        cursor: none !important;
        box-shadow: none !important;
      }
    }
  }
}

//primeng Classes
@layer primeng {}

//Tailwind classes
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary";
  src: url("../public/fonts/icons-fonts/primary.woff2") format("woff2");
}

:root {
  --iconUnitCode: "\e000";
  --iconType: "primary";
}

/* base class */
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 var(--iconType);
  color: inherit;
  flex-shrink: 0;
  line-height: 1.2;
  max-width: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* icons */
.icon::before {
  content: var(--iconUnitCode);
}


body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #e8e8e8;
  --sb-size: 6px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}