<div class="max-w-sm">
    <div class="tw-relative">
        <div class="tw-relative">
            <div class="tw-absolute tw-inset-y-0 tw-start-0 tw-flex tw-items-center tw-pointer-events-none  tw-ps-3.5">
                <icon name="search" addCls="tw-text-stroke-100"></icon>
            </div>
            <input
                class="tw-py-1 tw-ps-10 tw-pe-4 tw-h-9 tw-outline-none tw-block tw-w-full tw-border-gray-200/60 tw-border-2 tw-border-solid tw-rounded-lg tw-max-w-56 tw-text-sm  disabled:tw-opacity-50 disabled:tw-pointer-events-none placeholder:tw-text-gray-500 placeholder:tw-text-sm  tw-p-2 tw-px-4  tw-ring-offset-1 tw-transition-all tw-duration-200 tw-ease-in focus:tw-border-azure-500 focus:tw-ring-2 focus:tw-ring-azure-200 xl:tw-cursor-pointer"
                type="text" role="combobox" aria-expanded="false" [placeholder]="placeholder()"
                [maxLength]="maxlength()" >
        </div>
    </div>
</div>